*{ 
        margin: 0;   
        padding: 0;
        display: flex;
        box-sizing: border-box;
        justify-content:center;
        align-items: center;
        height: 12vh;
}    
    body{
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        background-color: indigo;
}
    header {
        color: blueviolet;
        width: 100%;
        height: 10vh;
        display: flex;
        justify-content: space-between;
        box-shadow: 0 0 1 burlywood;
        margin: 10px;
}
    main{
        height: 76vh;
    }
    ul{
        display: flex;
}
    li{
        color: black;
        list-style-type: none;
        cursor:pointer;
        padding-left: 2rem;
}
    .texto{
        width:100%; 
        height:100vh;
}
    .paragrafo{
        position: absolute;
        text-decoration: none;
        margin: 0;
        line-height: 24px;
}
    .img{
        width: auto;
        height: auto;
}
    footer{
        background-color: black;

    }
