body {
        font-family:'Times New Roman', Times, serif;
        margin: 0;
        padding: 0;
}
    header {
        background-color:indigo;
        color: blueviolet;
        padding: 10px 20px;
        text-align:justify;
        border-radius: 5px;
}
    nav {
        background-color:black;
        padding: 10px 0;
        text-align:end;
        border-radius: 5px;
}
    nav a {
        color:#444;
        text-decoration: none;
        padding: 10px 20px;
        border-radius: 5px;
        text-align: right;
}
    nav a:hover {
                transition: 0.5s;
                background-color:indigo; 
                color:#444;    
}