*{ 
    font-family:'Times New Roman', Times, serif; 
    margin: 0;   
    padding: 0;
    box-sizing:border-box;

}        
    header {
    background-color:indigo;
    color: blueviolet;
    padding: 10px 20px;
    text-align:justify;
    border-radius: 5px;
}
    nav {
    background-color:black;
    padding: 10px 0;
    text-align:end;
    border-radius: 5px;
}
    nav a {
    color:#444;
    text-decoration: none;
    text-align: justify;
    text-indent:50px;
    left: 50%;
    top: 50%;
    transform: (-50%,-50%);
}
    nav a:hover {
    transition: 0.5s;
    background-color:indigo; 
    color:#444;    
}
.texto{
  width: 100%;
  padding: 100vh;
}
.paragrafo{
  width: 500px;
  position: absolute;
}
